<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @teacher.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @teacher.password %>
</p>

<p>
  <strong>First name:</strong>
  <%= @teacher.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @teacher.last_name %>
</p>
<%= link_to 'Create class', new_schoolclass_path %> |
<%= link_to 'Check answers', answers_path %> |
<%= link_to 'Create questionnaire', new_question_path %> |
<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
